:root {
    --main-color: #AC485A;
    --secondary-color-dark: #432000;
    --secondary-color-light: #FFECC7;
    --tertiary-color-light: #FFFDF8;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

h1 {
    color: var(--main-color);
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    font-weight: bolder;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: var(--secondary-color-dark);
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

button {
    color: var(--tertiary-color-light);
    background-color: var(--main-color);
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: var(--secondary-color-dark);
    cursor: pointer;
}

button:active {
    color: var(--secondary-color-dark);
    background-color: var(--secondary-color-light);
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: var(--tertiary-color-light);
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: var(--secondary-color-light);
    cursor: pointer;
}

ul li:active {
    background-color: var(--main-color);
    color: var(--tertiary-color-light);
}